# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
+ Python
+ R
+ Java
+ Scala
+ Julia
+ SQL
+ C/C++

### Some of the popular languages that Data Scientists use are:
- Python
- R
- Java
- Scala
- Julia
- c/c

### Some of the commonly used libraries used by Data Scientists include:
* Matplotlib
* Pandas
* Numpy
* Seaborn
* Scikit-learn
* TensorFlow
* PyTorch

### Below are a few examples of evaluating arithmetic expressions in Python 
+ Addition.<br> 
2+3
+ '-' Subtraction.<br> 
10-4
+ '*' Multiplication.<br> 
3 * 4
+ '/' Division.<br>  
10/2

| Data Science Tools |
| -------------------|
Python
R
Matplotlib

In [1]:
# This is simple arithmetic expression to multiply then and integers
(3*4)+5

17

In [5]:
200/60

3.3333333333333335

## Author
Name Tanaji Adagale